@import "./tipografia";
@import "./mediaqueris";


.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;

    &__formulario {
        padding: 2rem 2rem 3rem 2rem;
        border: purple solid 2px;
        border-radius: 10px;
        margin-bottom: 4rem;
        box-shadow: 5px 5px 0 purple;
    }

    &__texto {
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
    &__detalle {
        border-radius: 10px;
        border:pink solid 2px;
        background-color: pink;
        box-shadow: 1px 1px black;
    }
    &__letra {
        font-weight: bold;
    }
    &__orden {
        padding-bottom: 1rem;
    }
    &__orden-dos {
        padding-right: 1rem;
    }
}
.cuidados {
    display: block;
    color: black;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 4rem;
    margin-right: 4rem;

    @include font-size(2rem, 1.25rem);

    
    &__titulo {
        text-align: center;
        padding-bottom: 2rem;
        color: black;
        font-size: 3rem;
        font-weight: bold;
    }
    
    &__lista {
        padding: 1rem;
    }
    
    &__lista__fin {
        padding-bottom: 4rem;
    }

    @include movil {
        padding-right: 1rem;
        padding-left: 1rem;
        &__lista {
            font-size: 1.2rem;
        }
        &__lista__fin {
            font-size: 1.2rem;
        }
    }

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


.destacados {
    
    color: black;
    padding: 2rem 2rem 6rem 2rem;
    
    >ul {
        display: block;
        list-style: none;
    }
}

.diseños {
    display: block;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.25rem;
    font-weight: bold;
    
    @include font-size(2rem, 1.25rem);
    
    @include movil {
        padding-right: 1rem;
        padding-left: 1rem;
        &__titulo__dos {
            font-size: 1.5rem;
        }
        &__lista__uno {
            font-size: 1.2rem;
        }
        &__lista__dos {
            font-size: 1.5rem;
        }
        &__lista__tres {
            font-size: 1.5rem;
        }
    }
    
    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    &__titulo {
        text-align: center;
        color: black;
        padding-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    &__titulo__dos {
        text-align: center;
        padding-bottom: 2rem;
        color: black;
    }
    
    &__lista {
        list-style: none;
    }
    
    &__lista__uno {
        padding: 0.5rem;
    }
    
    &__lista__dos {
        padding-top: 2rem;
        text-align: center;
    }
    
    &__lista__tres {
        padding-bottom: 4rem;
        text-align: center;
        
    }
    
}

.favoritos {
    color: black;
    padding: 0 2rem 6rem 2rem;
}

.inicio {
    color: black;
    text-align: center;
    padding: 4rem 2rem 3rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: pink;
}

.novedades {
    color: black;
    padding: 0 2rem 6rem 2rem;
}

.tituloContacto {
    color: black;
    padding-top: 3rem;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 3rem;
    
}

.productos {
    color: black;
    display: block;
    text-align: center;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 3rem;
    font-weight: bold;
    @include movil {
        text-align: center;
    }
}

.productos__subTitulos {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    padding-left: 2rem;
}

.productos__fondo {
    padding-bottom: 2rem;
    padding-top: 2rem;
}


.productos__centrado {
   
    display: flex;
    justify-content: center;
    
    @include movil {
        padding-top: 1rem;
    }
}

.productos__texto {
    color: black;
    text-align: center;
    padding: 1rem 2rem 5rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    
}